body {
    font-family: Helvetica;
}

.blue {
    color: blue;
    font-weight: bold;
}

header {
    background-image: url(../images/hacksaw.jpeg);
}

header h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    color: white;
    font-weight: bold;
}

div.brushes h2 {
    background-color: mediumspringgreen;
}

div.frames h2 {
    background-color: lightcoral;
}

div.paint h2 {
    background-color: skyblue;
}